doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 
    a(href="/signup") Signup
    h1 
    a(href="/login") Login
    h1 
    a(href="/") Home
    block content